In [1]:
import pandas as pd
df = pd.read_csv("/Users/sophiashull/Desktop/DS personal projects/Flight-Delay-Analysis-Project/Data/processed/cleaned_delay_data.csv")
df.head()

,Unnamed: 0,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,datetime
0,0,2025,1,G4,Allegiant Air,ELM,"Elmira/Corning, NY: Elmira/Corning Regional",30.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-01-01
1,1,2025,1,G4,Allegiant Air,ELP,"El Paso, TX: El Paso International",2.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-01-01
2,2,2025,1,G4,Allegiant Air,EUG,"Eugene, OR: Mahlon Sweet Field",28.0,8.0,3.74,...,2.66,2.0,0.0,409.0,236.0,0.0,70.0,0.0,103.0,2025-01-01
3,3,2025,1,G4,Allegiant Air,EVV,"Evansville, IN: Evansville Regional",18.0,1.0,0.00,...,0.00,0.0,0.0,1075.0,0.0,1075.0,0.0,0.0,0.0,2025-01-01
4,4,2025,1,G4,Allegiant Air,EWR,"Newark, NJ: Newark Liberty International",31.0,5.0,2.17,...,0.00,1.0,0.0,446.0,336.0,0.0,110.0,0.0,0.0,2025-01-01

In [58]:
# target 
df = df[df["arr_flights"]!=0]
df["delay_probability"] = df["arr_del15"]/df["arr_flights"]*100
df.delay_probabilty
df.head()

,Unnamed: 0,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,datetime,delay_probabilty,delay_probability
0,0,2025,1,G4,Allegiant Air,ELM,"Elmira/Corning, NY: Elmira/Corning Regional",30.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-01-01,0.000000,0.000000
1,1,2025,1,G4,Allegiant Air,ELP,"El Paso, TX: El Paso International",2.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-01-01,0.000000,0.000000
2,2,2025,1,G4,Allegiant Air,EUG,"Eugene, OR: Mahlon Sweet Field",28.0,8.0,3.74,...,0.0,409.0,236.0,0.0,70.0,0.0,103.0,2025-01-01,28.571429,28.571429
3,3,2025,1,G4,Allegiant Air,EVV,"Evansville, IN: Evansville Regional",18.0,1.0,0.00,...,0.0,1075.0,0.0,1075.0,0.0,0.0,0.0,2025-01-01,5.555556,5.555556
4,4,2025,1,G4,Allegiant Air,EWR,"Newark, NJ: Newark Liberty International",31.0,5.0,2.17,...,0.0,446.0,336.0,0.0,110.0,0.0,0.0,2025-01-01,16.129032,16.129032

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
# Features and Target 
X = df[["carrier_name", "airport", "month", "carrier_ct", "arr_del15", "arr_flights", "arr_delay"]]
y = df["delay_probability"]
X_encoded = pd.get_dummies(X, columns=["carrier_name", "airport"])
X_train, X_test, y_train, y_test = train_test_split(X_encoded,y,test_size=0.3,random_state=20)
training_df = pd.concat([X_train, y_train], axis=1)
testing_df = pd.concat([X_test, y_test], axis=1)

In [61]:
training_df.reset_index(drop=True, inplace=True)
testing_df.reset_index(drop=True, inplace=True)
testing_df.head()

,month,carrier_ct,arr_del15,arr_flights,arr_delay,carrier_name_Air Wisconsin Airlines Corp,carrier_name_Alaska Airlines Network,carrier_name_Allegiant Air,carrier_name_American Airlines Network,carrier_name_CommuteAir LLC dba CommuteAir,...,airport_VCT,airport_VLD,airport_VPS,airport_WRG,airport_XNA,airport_XWA,airport_YAK,airport_YKM,airport_YUM,delay_probability
0,12,4.40,6.0,56.0,362.0,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,10.714286
1,1,1.23,13.0,91.0,1197.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,14.285714
2,12,3.64,9.0,22.0,573.0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,40.909091
3,1,1.03,7.0,67.0,671.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,10.447761
4,1,2.99,8.0,76.0,1234.0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,10.526316

In [62]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2688, 378)
(1153, 378)
(2688,)
(1153,)

In [63]:
# model 
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [64]:
predictions = model.predict(X_test)

In [65]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
#evaluation 
r2_val = r2_score(y_test, predictions)
mse_val = mean_squared_error(y_test, predictions)
mae_val = mean_absolute_error(y_test, predictions)
print(r2_val)
print(mse_val)
print(mae_val)

0.9736238994169558
2.6724639869155173
0.7971307684648418